<a href="https://colab.research.google.com/github/arloera01-blip/AshlynL_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
fruits= ['apple', 'peach', 'orange']
print(fruits)
for fruit in fruits[0:3]:
  print(fruit.title())

['apple', 'peach', 'orange']
Apple
Peach
Orange

In [6]:
names= ['ashlyn', 'jessica', 'sydney', 'reese']
names[0]= 'tatum'
print(names)

['tatum', 'jessica', 'sydney', 'reese']

In [8]:
vehicles= ['bus', 'bike', 'scooter', 'car', 'motorcycle']
vehicles.append('truck')
print(vehicles)

['bus', 'bike', 'scooter', 'car', 'motorcycle', 'truck']

In [12]:
foods= ['pasta', 'bread', 'chicken', 'beef', 'crackers', 'chips']
foods.remove('bread')
print(foods)

['pasta', 'chicken', 'beef', 'crackers', 'chips']

In [15]:
cities= ['austin', 'dallas', 'fort worth', 'el paso', ]
cities.sort()
print(cities)

['austin', 'dallas', 'el paso', 'fort worth']

In [16]:
animals= ['cat', 'dog', 'cow']
for animal in animals:
  print(animal.title())

Cat
Dog
Cow

In [23]:
numbers= [1,2,3,4,5]
for number in numbers:
  doubled= number*2
  print(doubled)

2
4
6
8
10

In [25]:
friends= ['reese', 'tatum', 'arshi', 'kenzie', 'ava', 'ainsley']
print(friends[:3])
print(friends[3:])

['reese', 'tatum', 'arshi']
['kenzie', 'ava', 'ainsley']

In [29]:
numbers= list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
squares= [value**2 for value in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]